body {
    /* background: #141414;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(235, 235, 235, 1) 62%); */
    background-color: rgba(235, 235, 235, 1);
}

h1,
h2 {
    color: #111111;
    /* Strong black */
}

h3,
h4 {
    color: #0a192f;
    /* Navy-ish for subheadings */
}

p {
    color: #555555;
    /* Softer gray for readability */
}

.text-accent {
    color: #6a11cb;
    /* Purple highlight */
    font-weight: bold;
}